<!--"""last commit: 08012019 02:08 am""" -->
{% extends "base.html" %}
{% load static %}
{% block css %}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css">


{% endblock %}
{% block body %}

<div class="limiter">
		<div class="container-login100">
            <div class="wrap-login100" style='padding: 20px !important; margin-top: 100px;'>
                   <div style='height:30px;'></div>
                    <h1 style="margin: 0 auto;" id='stitle'> <i class="fa fa-search" aria-hidden="true"></i> master </h1>
                    <h2>Total number <span>{{ total }}</span></h2>
                    <table class="table table-bordered" id='myTable'>
                        <thead class="thead-dark">
                            <tr>
                              <th scope="col">name</th>
                              <th scope="col">yelp</th>
                              <th scope="col">phone</th>
                              <th scope="col">rating</th>
                              <th scope="col">surl</th>
                              <th scope="col">address</th>
                              <th scope="col">city</th>
                              <th scope="col">state</th>
                              <th scope="col">claimed</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for result in results %}
                            <tr>
                               <td>{{ result.name }}</td>
                               <td><a href='{{ result.yurl}}'  target="_blank"><i class="fa fa-upload" aria-hidden="true"></i></a></td>
                               <td>{{ result.phone}}</td>
                               <td>{{ result.rating}}</td>
                               <td><a href='http://{{ result.surl}}'  target="_blank"><i class="fa fa-upload" aria-hidden="true"></i></a></td>
                               <td>{{ result.address}}</td>
                               <td>{{ result.city}}</td>
                               <td>{{ result.state}}</td>
                               <td>{{ result.is_claimed}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                      </table>
                      {% if results.has_other_pages %}
                        <ul class="pagination">
                          {% if results.has_previous %}
                            <li><a href="?page={{ result.previous_page_number }}">&laquo;</a></li>
                          {% else %}
                            <li class="disabled"><span>&laquo;</span></li>
                          {% endif %}
                          {% for i in results.paginator.page_range %}
                            {% if results.number == i %}
                              <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                            {% else %}
                              <li><a href="?page={{ i }}">{{ i }}</a></li>
                            {% endif %}
                          {% endfor %}
                          {% if results.has_next %}
                            <li><a href="?page={{ result.next_page_number }}">&raquo;</a></li>
                          {% else %}
                            <li class="disabled"><span>&raquo;</span></li>
                          {% endif %}
                        </ul>
                      {% endif %}

                        <div class="text-center p-t-136">
                            <a class="txt2" href="#">
                                mladenmilosavljevic.tech
                                <i class="fa fa-long-arrow-right m-l-5" aria-hidden="true"></i>
                            </a>
                        </div>

			</div>
		</div>
	</div>
	
	

	

	{% block scripts %}
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js"></script>
	<script>       
        $(document).ready( function () {
                 $('#myTable').DataTable();
                    } );
    </script>
    
    {% endblock %}
<!--===============================================================================================-->



</div>
{% endblock %}