{% extends 'blogbase.html' %}
{% load static %}
{% block main %}

			<section class="ftco-section">
	    	<div class="container">
	    		<div class="row">
	    			<div class="col-lg-8">
	    				<div class="row">
			    			<div class="col-md-6">
			    				<div class="blog-entry ftco-animate">
										<a href="#" class="img img-2" style="background-image: url({% static 'blog/images/bg_1.jpg' %});"></a>
										<div class="text text-2 pt-2 mt-3">
											<span class="category mb-3 d-block"><a href="#">Technology</a></span>
				              <h3 class="mb-4"><a href="#">The Newest Technology On This Year 2019</a></h3>
				              <p class="mb-4">Even the all-powerful Pointing has no control about the blind texts it is an almost</p>
				              <div class="author mb-4 d-flex align-items-center">
				            		<a href="#" class="img" style="background-image: url({% static 'blog/images/author.jpg' %});"></a>
				            		<div class="ml-3 info">
				            			<span>Written by</span>
				            			<h3><a href="#">MLaden Milosavljevic</a>, <span>Nov. 28, 2018</span></h3>
				            		</div>
				            	</div>
				              <div class="meta-wrap align-items-center">
				              	<div class="half order-md-last">
					              	<p class="meta">
					              		<span><i class="icon-heart"></i>3</span>
					              		<span><i class="icon-eye"></i>100</span>
					              		<span><i class="icon-comment"></i>5</span>
					              	</p>
				              	</div>
				              	<div class="half">
					              	<p><a href="#" class="btn py-2">Continue Reading <span class="ion-ios-arrow-forward"></span></a></p>
				              	</div>
				              </div>
				            </div>
									</div>
			    			</div>
			    			<div class="col-md-6">
			    				<div class="blog-entry ftco-animate">
										<a href="#" class="img img-2" style="background-image: url({% static 'blog/images/bg_1.jpg' %});"></a>
										<div class="text text-2 pt-2 mt-3">
											<span class="category mb-3 d-block"><a href="#">Travel</a></span>
				              <h3 class="mb-4"><a href="#">What to pack when visiting Sea</a></h3>
				              <p class="mb-4">Even the all-powerful Pointing has no control about the blind texts it is an almost</p>
				              <div class="author mb-4 d-flex align-items-center">
				            		<a href="#" class="img" style="background-image: url({% static 'blog/images/author.jpg' %});"></a>
				            		<div class="ml-3 info">
				            			<span>Written by</span>
				            			<h3><a href="#">MLaden Milosavljevic</a>, <span>Nov. 28, 2018</span></h3>
				            		</div>
				            	</div>
				              <div class="meta-wrap align-items-center">
				              	<div class="half order-md-last">
					              	<p class="meta">
					              		<span><i class="icon-heart"></i>3</span>
					              		<span><i class="icon-eye"></i>100</span>
					              		<span><i class="icon-comment"></i>5</span>
					              	</p>
				              	</div>
				              	<div class="half">
					              	<p><a href="#" class="btn py-2">Continue Reading <span class="ion-ios-arrow-forward"></span></a></p>
				              	</div>
				              </div>
				            </div>
									</div>
			    			</div>
			    			<div class="col-md-6">
			    				<div class="blog-entry ftco-animate">
										<a href="#" class="img img-2" style="background-image: url({% static 'blog/images/author.jpg' %});"></a>"></a>
										<div class="text text-2 pt-2 mt-3">
											<span class="category mb-3 d-block"><a href="#">Fashion</a></span>
				              <h3 class="mb-4"><a href="#">Awesome Fashion Trend in For Summer</a></h3>
				              <p class="mb-4">Even the all-powerful Pointing has no control about the blind texts it is an almost</p>
				              <div class="author mb-4 d-flex align-items-center">
				            		<a href="#" class="img" style="background-image: url({% static 'blog/images/author.jpg' %});"></a>
				            		<div class="ml-3 info">
				            			<span>Written by</span>
				            			<h3><a href="#">MLaden Milosavljevic</a>, <span>Nov. 28, 2018</span></h3>
				            		</div>
				            	</div>
				              <div class="meta-wrap align-items-center">
				              	<div class="half order-md-last">
					              	<p class="meta">
					              		<span><i class="icon-heart"></i>3</span>
					              		<span><i class="icon-eye"></i>100</span>
					              		<span><i class="icon-comment"></i>5</span>
					              	</p>
				              	</div>
				              	<div class="half">
					              	<p><a href="#" class="btn py-2">Continue Reading <span class="ion-ios-arrow-forward"></span></a></p>
				              	</div>
				              </div>
				            </div>
									</div>
			    			</div>
			    			<div class="col-md-6">
			    				<div class="blog-entry ftco-animate">
										<a href="#" class="img img-2" style="background-image: url({% static 'blog/images/bg_1.jpg' %});"></a>
										<div class="text text-2 pt-2 mt-3">
											<span class="category mb-3 d-block"><a href="#">Travel</a></span>
				              <h3 class="mb-4"><a href="#">10 Most Awesome Place</a></h3>
				              <p class="mb-4">Even the all-powerful Pointing has no control about the blind texts it is an almost</p>
				              <div class="author mb-4 d-flex align-items-center">
				            		<a href="#" class="img" style="background-image: url({% static 'blog/images/author.jpg' %});"></a>
				            		<div class="ml-3 info">
				            			<span>Written by</span>
				            			<h3><a href="#">MLaden Milosavljevic</a>, <span>Nov. 28, 2018</span></h3>
				            		</div>
				            	</div>
				              <div class="meta-wrap align-items-center">
				              	<div class="half order-md-last">
					              	<p class="meta">
					              		<span><i class="icon-heart"></i>3</span>
					              		<span><i class="icon-eye"></i>100</span>
					              		<span><i class="icon-comment"></i>5</span>
					              	</p>
				              	</div>
				              	<div class="half">
					              	<p><a href="#" class="btn py-2">Continue Reading <span class="ion-ios-arrow-forward"></span></a></p>
				              	</div>
				              </div>
				            </div>
									</div>
			    			</div>
			    			<div class="col-md-6">
			    				<div class="blog-entry ftco-animate">
										<a href="#" class="img img-2" style="background-image: url({% static 'blog/images/bg_1.jpg' %});"></a>
										<div class="text text-2 pt-2 mt-3">
											<span class="category mb-3 d-block"><a href="#">Travel</a></span>
				              <h3 class="mb-4"><a href="#">10 Most Awesome Beach in Asia</a></h3>
				              <p class="mb-4">Even the all-powerful Pointing has no control about the blind texts it is an almost</p>
				              <div class="author mb-4 d-flex align-items-center">
				            		<a href="#" class="img" style="background-image: url({% static 'blog/images/author.jpg' %});"></a>
				            		<div class="ml-3 info">
				            			<span>Written by</span>
				            			<h3><a href="#">MLaden Milosavljevic</a>, <span>Nov. 28, 2018</span></h3>
				            		</div>
				            	</div>
				              <div class="meta-wrap align-items-center">
				              	<div class="half order-md-last">
					              	<p class="meta">
					              		<span><i class="icon-heart"></i>3</span>
					              		<span><i class="icon-eye"></i>100</span>
					              		<span><i class="icon-comment"></i>5</span>
					              	</p>
				              	</div>
				              	<div class="half">
					              	<p><a href="#" class="btn py-2">Continue Reading <span class="ion-ios-arrow-forward"></span></a></p>
				              	</div>
				              </div>
				            </div>
									</div>
			    			</div>
			    			<div class="col-md-6">
			    				<div class="blog-entry ftco-animate">
										<a href="#" class="img img-2" style="background-image: url({% static 'blog/images/bg_1.jpg' %});"></a>
										<div class="text text-2 pt-2 mt-3">
											<span class="category mb-3 d-block"><a href="#">Travel</a></span>
				              <h3 class="mb-4"><a href="#">Top Amazing Places to Go in Summer</a></h3>
				              <p class="mb-4">Even the all-powerful Pointing has no control about the blind texts it is an almost</p>
				              <div class="author mb-4 d-flex align-items-center">
				            		<a href="#" class="img" style="background-image: url({% static 'blog/images/author.jpg' %});"></a>
				            		<div class="ml-3 info">
				            			<span>Written by</span>
				            			<h3><a href="#">MLaden Milosavljevic</a>, <span>Nov. 28, 2018</span></h3>
				            		</div>
				            	</div>
				              <div class="meta-wrap align-items-center">
				              	<div class="half order-md-last">
					              	<p class="meta">
					              		<span><i class="icon-heart"></i>3</span>
					              		<span><i class="icon-eye"></i>100</span>
					              		<span><i class="icon-comment"></i>5</span>
					              	</p>
				              	</div>
				              	<div class="half">
					              	<p><a href="#" class="btn py-2">Continue Reading <span class="ion-ios-arrow-forward"></span></a></p>
				              	</div>
				              </div>
				            </div>
									</div>
			    			</div>
			    			<div class="col-md-6">
			    				<div class="blog-entry ftco-animate">
										<a href="#" class="img img-2" style="background-image: url({% static 'blog/images/bg1.jpg' %});"></a>
										<div class="text text-2 pt-2 mt-3">
											<span class="category mb-3 d-block"><a href="#">Fashion</a></span>
				              <h3 class="mb-4"><a href="#">7 Beginner Photographer’s Mistakes</a></h3>
				              <p class="mb-4">Even the all-powerful Pointing has no control about the blind texts it is an almost</p>
				              <div class="author mb-4 d-flex align-items-center">
				            		<a href="#" class="img" style="background-image: url({% static 'blog/images/author.jpg' %});"></a>
				            		<div class="ml-3 info">
				            			<span>Written by</span>
				            			<h3><a href="#">MLaden Milosavljevic</a>, <span>Nov. 28, 2018</span></h3>
				            		</div>
				            	</div>
				              <div class="meta-wrap align-items-center">
				              	<div class="half order-md-last">
					              	<p class="meta">
					              		<span><i class="icon-heart"></i>3</span>
					              		<span><i class="icon-eye"></i>100</span>
					              		<span><i class="icon-comment"></i>5</span>
					              	</p>
				              	</div>
				              	<div class="half">
					              	<p><a href="#" class="btn py-2">Continue Reading <span class="ion-ios-arrow-forward"></span></a></p>
				              	</div>
				              </div>
				            </div>
									</div>
			    			</div>
			    			<div class="col-md-6">
			    				<div class="blog-entry ftco-animate">
										<a href="#" class="img img-2" style="background-image: url({% static 'blog/images/bg_1.jpg' %});"></a>
										<div class="text text-2 pt-2 mt-3">
											<span class="category mb-3 d-block"><a href="#">Photography</a>, <a href="#">Travel</a></span>
				              <h3 class="mb-4"><a href="#">Excited to Visit in Palawan Philippines</a></h3>
				              <p class="mb-4">Even the all-powerful Pointing has no control about the blind texts it is an almost</p>
				              <div class="author mb-4 d-flex align-items-center">
				            		<a href="#" class="img" style="background-image: url({% static 'blog/images/author.jpg' %});"></a>
				            		<div class="ml-3 info">
				            			<span>Written by</span>
				            			<h3><a href="#">MLaden Milosavljevic</a>, <span>Nov. 28, 2018</span></h3>
				            		</div>
				            	</div>
				              <div class="meta-wrap align-items-center">
				              	<div class="half order-md-last">
					              	<p class="meta">
					              		<span><i class="icon-heart"></i>3</span>
					              		<span><i class="icon-eye"></i>100</span>
					              		<span><i class="icon-comment"></i>5</span>
					              	</p>
				              	</div>
				              	<div class="half">
					              	<p><a href="#" class="btn py-2">Continue Reading <span class="ion-ios-arrow-forward"></span></a></p>
				              	</div>
				              </div>
				            </div>
									</div>
			    			</div>
			    			<div class="col-md-6">
			    				<div class="blog-entry ftco-animate">
										<a href="#" class="img img-2" style="background-image: url({% static 'blog/images/bg_1.jpg' %});"></a>
										<div class="text text-2 pt-2 mt-3">
											<span class="category mb-3 d-block"><a href="#">Technology</a></span>
				              <h3 class="mb-4"><a href="#">How to Make a Paper Boat in Scratch</a></h3>
				              <p class="mb-4">Even the all-powerful Pointing has no control about the blind texts it is an almost</p>
				              <div class="author mb-4 d-flex align-items-center">
				            		<a href="#" class="img" style="background-image: url({% static 'blog/images/author.jpg' %});"></a>
				            		<div class="ml-3 info">
				            			<span>Written by</span>
				            			<h3><a href="#">MLaden Milosavljevic</a>, <span>Nov. 28, 2018</span></h3>
				            		</div>
				            	</div>
				              <div class="meta-wrap align-items-center">
				              	<div class="half order-md-last">
					              	<p class="meta">
					              		<span><i class="icon-heart"></i>3</span>
					              		<span><i class="icon-eye"></i>100</span>
					              		<span><i class="icon-comment"></i>5</span>
					              	</p>
				              	</div>
				              	<div class="half">
					              	<p><a href="#" class="btn py-2">Continue Reading <span class="ion-ios-arrow-forward"></span></a></p>
				              	</div>
				              </div>
				            </div>
									</div>
			    			</div>
			    			<div class="col-md-6">
			    				<div class="blog-entry ftco-animate">
										<a href="#" class="img img-2" style="background-image: url(images/image_10.jpg);"></a>
										<div class="text text-2 pt-2 mt-3">
											<span class="category mb-3 d-block"><a href="#">Fashion</a></span>
				              <h3 class="mb-4"><a href="#">10 Best Way to Styling Your Lifestyle</a></h3>
				              <p class="mb-4">Even the all-powerful Pointing has no control about the blind texts it is an almost</p>
				              <div class="author mb-4 d-flex align-items-center">
				            		<a href="#" class="img" style="background-image: url({% static 'blog/images/author.jpg' %});"></a>
				            		<div class="ml-3 info">
				            			<span>Written by</span>
				            			<h3><a href="#">MLaden Milosavljevic</a>, <span>Nov. 28, 2018</span></h3>
				            		</div>
				            	</div>
				              <div class="meta-wrap align-items-center">
				              	<div class="half order-md-last">
					              	<p class="meta">
					              		<span><i class="icon-heart"></i>3</span>
					              		<span><i class="icon-eye"></i>100</span>
					              		<span><i class="icon-comment"></i>5</span>
					              	</p>
				              	</div>
				              	<div class="half">
					              	<p><a href="#" class="btn py-2">Continue Reading <span class="ion-ios-arrow-forward"></span></a></p>
				              	</div>
				              </div>
				            </div>
									</div>
			    			</div>
			    			<div class="col-md-6">
			    				<div class="blog-entry ftco-animate">
										<a href="#" class="img img-2" style="background-image: url(images/image_11.jpg);"></a>
										<div class="text text-2 pt-2 mt-3">
											<span class="category mb-3 d-block"><a href="#">Fashion</a></span>
				              <h3 class="mb-4"><a href="#">10 Tips to Become a Fashion Pro</a></h3>
				              <p class="mb-4">Even the all-powerful Pointing has no control about the blind texts it is an almost</p>
				              <div class="author mb-4 d-flex align-items-center">
				            		<a href="#" class="img" style="background-image: url({% static 'blog/images/author.jpg' %});"></a>
				            		<div class="ml-3 info">
				            			<span>Written by</span>
				            			<h3><a href="#">MLaden Milosavljevic</a>, <span>Nov. 28, 2018</span></h3>
				            		</div>
				            	</div>
				              <div class="meta-wrap align-items-center">
				              	<div class="half order-md-last">
					              	<p class="meta">
					              		<span><i class="icon-heart"></i>3</span>
					              		<span><i class="icon-eye"></i>100</span>
					              		<span><i class="icon-comment"></i>5</span>
					              	</p>
				              	</div>
				              	<div class="half">
					              	<p><a href="#" class="btn py-2">Continue Reading <span class="ion-ios-arrow-forward"></span></a></p>
				              	</div>
				              </div>
				            </div>
									</div>
			    			</div>
			    			<div class="col-md-6">
			    				<div class="blog-entry ftco-animate">
										<a href="#" class="img img-2" style="background-image: url(images/image_12.jpg);"></a>
										<div class="text text-2 pt-2 mt-3">
											<span class="category mb-3 d-block"><a href="#">Photography</a></span>
				              <h3 class="mb-4"><a href="#">Visit the Most Amazing Place in North America</a></h3>
				              <p class="mb-4">Even the all-powerful Pointing has no control about the blind texts it is an almost</p>
				              <div class="author mb-4 d-flex align-items-center">
				            		<a href="#" class="img" style="background-image: url({% static 'blog/images/author.jpg' %});"></a>
				            		<div class="ml-3 info">
				            			<span>Written by</span>
				            			<h3><a href="#">MLaden Milosavljevic</a>, <span>Nov. 28, 2018</span></h3>
				            		</div>
				            	</div>
				              <div class="meta-wrap align-items-center">
				              	<div class="half order-md-last">
					              	<p class="meta">
					              		<span><i class="icon-heart"></i>3</span>
					              		<span><i class="icon-eye"></i>100</span>
					              		<span><i class="icon-comment"></i>5</span>
					              	</p>
				              	</div>
				              	<div class="half">
					              	<p><a href="#" class="btn py-2">Continue Reading <span class="ion-ios-arrow-forward"></span></a></p>
				              	</div>
				              </div>
				            </div>
									</div>
			    			</div>
			    		</div><!-- END-->
			    	</div>
	    			<div class="col-lg-4 sidebar ftco-animate">
	            <div class="sidebar-box">
	              <form action="#" class="search-form">
	                <div class="form-group">
	                  <span class="icon icon-search"></span>
	                  <input type="text" class="form-control" placeholder="Type a keyword and hit enter">
	                </div>
	              </form>
	            </div>
	            <div class="sidebar-box ftco-animate">
	            	<h3 class="sidebar-heading">Categories</h3>
	              <ul class="categories">
	                <li><a href="#">Fashion <span>(6)</span></a></li>
	                <li><a href="#">Technology <span>(8)</span></a></li>
	                <li><a href="#">Travel <span>(2)</span></a></li>
	                <li><a href="#">Food <span>(2)</span></a></li>
	                <li><a href="#">Photography <span>(7)</span></a></li>
	              </ul>
	            </div>

	            <div class="sidebar-box ftco-animate">
	              <h3 class="sidebar-heading">Popular Articles</h3>
	              <div class="block-21 mb-4 d-flex">
	                <a class="blog-img mr-4" style="background-image: url({% static 'blog/images/bg_1.jpg' %});"></a>
	                <div class="text">
	                  <h3 class="heading"><a href="#">Even the all-powerful Pointing has no control</a></h3>
	                  <div class="meta">
	                    <div><a href="#"><span class="icon-calendar"></span> Oct. 04, 2018</a></div>
	                    <div><a href="#"><span class="icon-person"></span> MLaden Milosavljevic</a></div>
	                    <div><a href="#"><span class="icon-chat"></span> 19</a></div>
	                  </div>
	                </div>
	              </div>
	              <div class="block-21 mb-4 d-flex">
	                <a class="blog-img mr-4" style="background-image: url({% static 'blog/images/bg_1.jpg' %});"></a>
	                <div class="text">
	                  <h3 class="heading"><a href="#">Even the all-powerful Pointing has no control</a></h3>
	                  <div class="meta">
	                    <div><a href="#"><span class="icon-calendar"></span> Oct. 04, 2018</a></div>
	                    <div><a href="#"><span class="icon-person"></span> MLaden Milosavljevic</a></div>
	                    <div><a href="#"><span class="icon-chat"></span> 19</a></div>
	                  </div>
	                </div>
	              </div>
	              <div class="block-21 mb-4 d-flex">
	                <a class="blog-img mr-4" style="background-image: url({% static 'blog/images/author.jpg' %});"></a>"></a>
	                <div class="text">
	                  <h3 class="heading"><a href="#">Even the all-powerful Pointing has no control</a></h3>
	                  <div class="meta">
	                    <div><a href="#"><span class="icon-calendar"></span> Oct. 04, 2018</a></div>
	                    <div><a href="#"><span class="icon-person"></span> MLaden Milosavljevic</a></div>
	                    <div><a href="#"><span class="icon-chat"></span> 19</a></div>
	                  </div>
	                </div>
	              </div>
	            </div>

	            <div class="sidebar-box ftco-animate">
	              <h3 class="sidebar-heading">Tag Cloud</h3>
	              <ul class="tagcloud">
	                <a href="#" class="tag-cloud-link">animals</a>
	                <a href="#" class="tag-cloud-link">human</a>
	                <a href="#" class="tag-cloud-link">people</a>
	                <a href="#" class="tag-cloud-link">cat</a>
	                <a href="#" class="tag-cloud-link">dog</a>
	                <a href="#" class="tag-cloud-link">nature</a>
	                <a href="#" class="tag-cloud-link">leaves</a>
	                <a href="#" class="tag-cloud-link">food</a>
	              </ul>
	            </div>

							<div class="sidebar-box subs-wrap img" style="background-image: url(images/bg_1.jpg);">
								<div class="overlay"></div>
								<h3 class="mb-4 sidebar-heading">Newsletter</h3>
								<p class="mb-4">Far far away, behind the word mountains, far from the countries Vokalia</p>
	              <form action="#" class="subscribe-form">
	                <div class="form-group">
	                  <input type="text" class="form-control" placeholder="Email Address">
	                  <input type="submit" value="Subscribe" class="mt-2 btn btn-white submit">
	                </div>
	              </form>
	            </div>

	            <div class="sidebar-box ftco-animate">
	            	<h3 class="sidebar-heading">Archives</h3>
	              <ul class="categories">
	              	<li><a href="#">October 2018 <span>(10)</span></a></li>
	                <li><a href="#">September 2018 <span>(6)</span></a></li>
	                <li><a href="#">August 2018 <span>(8)</span></a></li>
	                <li><a href="#">July 2018 <span>(2)</span></a></li>
	                <li><a href="#">June 2018 <span>(7)</span></a></li>
	                <li><a href="#">May 2018 <span>(5)</span></a></li>
	              </ul>
	            </div>


	            <div class="sidebar-box ftco-animate">
	              <h3 class="sidebar-heading">Paragraph</h3>
	              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus itaque, autem necessitatibus voluptate quod mollitia delectus aut.</p>
	            </div>
	          </div><!-- END COL -->
	    		</div>
	    	</div>
		</section>
{% endblock %}