{% extends 'blogbase.html' %}
{% load static %}
{% block main  %}


	<div class="hero-wrap js-fullheight" style="background-image: url('static/blog/images/bg_2.jpg');"
		data-stellar-background-ratio="0.5">
		<div class="overlay"></div>
		<div class="js-fullheight d-flex justify-content-center align-items-center">
			<div class="col-md-8 text text-center">
				<div class="img mb-4" style="background-image: url('static/blog/images/author.jpg');"></div>
				<div class="desc">
					<h2 class="subheading">Welcome to my portfolio website, I'm</h2>
					<h1 class="mb-4">Mladen Milosavljevic</h1>
					<p class="mb-4">I am living in  Krusevac, Serbia. I am fullstack web developer. I am using python, django, react, javascript, html, css. I am playing guitar for fun. </p>
					<h1>SCROLL DOWN FOR MORE</h1>
					<h1 class="mb-4"><i name="arrow-round-down"></i></h1>
				</div>
			</div>
		</div>
	</div>
	<section class="ftco-section">
			<div class="container">
				<div class="row justify-content-center mb-5 pb-2">
					<div class="col-md-7 heading-section text-center ftco-animate">
						<h2 class="mb-4">REVIEWS</h2>
						<p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It
							is a paradisematic country.</p>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4">
						<div class="blog-entry ftco-animate">

							<div class="text text-2 pt-2 mt-3">
								<p class="mb-4">Even the all-powerful Pointing has no control about the blind texts it is an
									almost</p>
								<div class="author mb-4 d-flex align-items-center">
									<img class="img" src="static/blog/images/person_2.jpg">
									<div class="ml-3 info">
										<span>Written by</span>
										<h3><a href="#">client</a>, <span>Nov. 28, 2018</span></h3>
									</div>
								</div>
				
							
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="blog-entry ftco-animate">
														<div class="text text-2 pt-2 mt-3">
	
								<p class="mb-4">Even the all-powerful Pointing has no control about the blind texts it is an
									almost</p>
								<div class="author mb-4 d-flex align-items-center">
										<img class="img"
										src="static/blog/images/person_1.jpg">
									<div class="ml-3 info">
										<span>Written by</span>
										<h3><a href="#">client</a>, <span>Nov. 28, 2018</span></h3>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="blog-entry ftco-animate">
							<div class="text text-2 pt-2 mt-3">
								<p class="mb-4">Even the all-powerful Pointing has no control about the blind texts it is an
									almost</p>
								<div class="author mb-4 d-flex align-items-center">
									<img class="img"
										src="static/blog/images/person_3.jpg">
									<div class="ml-3 info">
										<span>Written by</span>
										<h3><a href="#">client</a>, <span>Nov. 28, 2018</span></h3>
									</div>
								</div>

							</div>
						</div>
					</div>
				</div>
			</div>

	<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center mb-5 pb-2">
				<div class="col-md-7 heading-section text-center ftco-animate">
					<h2 class="mb-4">Articles</h2>
					<p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It
						is a paradisematic country.</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					<div class="blog-entry ftco-animate">
						<a href="#" class="img img-2"
							style="background-image: url('static/blog/images/image_1.jpg');"></a>
						<div class="text text-2 pt-2 mt-3">
							<span class="category mb-3 d-block"><a href="#">Technology</a></span>
							<h3 class="mb-4"><a href="#">Lorem ipsum dolor sit amet consectetur adipisicing elit. </a></h3>
							<p class="mb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores in minus ratione dolorem neque, possimus ipsam atque vero qui saepe dignissimos. Rerum facilis ea eum consequuntur veniam minima et architecto!</p>
							<div class="author mb-4 d-flex align-items-center">
								<a href="#" class="img"
									style="background-image: url('static/blog/images/author.jpg';"></a>
								<div class="ml-3 info">
									<span>Written by</span>
									<h3><a href="#">Mladen</a>, <span>Nov. 28, 2018</span></h3>
								</div>
							</div>
							<div class="meta-wrap align-items-center">
								<div class="half order-md-last">
									<p class="meta">
										<span><i class="icon-heart"></i>3</span>
										<span><i class="icon-eye"></i>100</span>
										<span><i class="icon-comment"></i>5</span>
									</p>
								</div>
								<div class="half">
									<p><a href="#" class="btn py-2">Continue Reading <span
												class="ion-ios-arrow-forward"></span></a></p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="blog-entry ftco-animate">
						<a href="#" class="img img-2"
							style="background-image: url({% static 'blog/images/author.jpg' %}');"></a>
						<div class="text text-2 pt-2 mt-3">
								<h3 class="mb-4"><a href="#">Lorem ipsum dolor sit amet consectetur adipisicing elit.</a></h3>
							<p class="mb-4"> Commodi autem illo consequuntur totam blanditiis nobis cum inventore possimus temporibus atque consequatur, sed ipsum molestiae iusto, reprehenderit voluptatem laborum cupiditate! Vel?</p>
							<div class="author mb-4 d-flex align-items-center">
								<a href="#" class="img"
									style="background-image: url({% static 'blog/images/author.jpg' %}');"></a>
								<div class="ml-3 info">
									<span>Written by</span>
									<h3><a href="#">Mladen</a>, <span>Nov. 28, 2018</span></h3>
								</div>
							</div>
							<div class="meta-wrap align-items-center">
								<div class="half order-md-last">
									<p class="meta">
										<span><i class="icon-heart"></i>3</span>
										<span><i class="icon-eye"></i>100</span>
										<span><i class="icon-comment"></i>5</span>
									</p>
								</div>
								<div class="half">
									<p><a href="#" class="btn py-2">Continue Reading <span
												class="ion-ios-arrow-forward"></span></a></p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="blog-entry ftco-animate">
						<a href="#" class="img img-2"
							style="background-image: url({% static 'blog/images/author.jpg' %}');"></a>
						<div class="text text-2 pt-2 mt-3">
							<span class="category mb-3 d-block"><a href="#">lorem</a></span>
							<h3 class="mb-4"><a href="#">Lorem ipsum dolor sit amet consectetur adipisicing elit.</a></h3>
							<p class="mb-4"> Obcaecati, rem error! Ipsum aliquam alias dolores, quibusdam nisi quae totam dolore, magni animi quos eos! Voluptates ab earum est porro architecto?</p>
							<div class="author mb-4 d-flex align-items-center">
								<a href="#" class="img"
									style="background-image: url({% static 'blog/images/author.jpg' %}');"></a>
								<div class="ml-3 info">
									<span>Written by</span>
									<h3><a href="#">Mladen</a>, <span>Nov. 28, 2018</span></h3>
								</div>
							</div>
							<div class="meta-wrap align-items-center">
								<div class="half order-md-last">
									<p class="meta">
										<span><i class="icon-heart"></i>3</span>
										<span><i class="icon-eye"></i>100</span>
										<span><i class="icon-comment"></i>5</span>
									</p>
								</div>
								<div class="half">
									<p><a href="#" class="btn py-2">Continue Reading <span
												class="ion-ios-arrow-forward"></span></a></p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="ftco-section-2">

			<div class="row justify-content-center mb-5 pb-2">
					<div class="col-md-7 heading-section text-center ftco-animate">
						<h2 class="mb-4">GALLERY</h2>
						<p>Lattest in gallery</p>
					</div>
				</div>
		<div class="photograhy">
			<div class="row no-gutters">
				<div class="col-md-3">
					<a href="#" class="photography-entry img d-flex justify-content-center align-items-center"
						style="background-image: url(static/blog/images/image_1.jpg);">
						<div class="overlay"></div>
						<div class="text text-center">
							<h3>Work 01</h3>
							<span>Technology</span>
						</div>
					</a>
				</div>
				<div class="col-md-3">
					<a href="#" class="photography-entry img d-flex justify-content-center align-items-center"
						style="background-image: url(static/blog/images/image_2.jpg);">
						<div class="overlay"></div>
						<div class="text text-center">
							<h3>Work 02</h3>
							<span>Nature</span>
						</div>
					</a>
				</div>
				<div class="col-md-3">
					<a href="#" class="photography-entry img d-flex justify-content-center align-items-center"
						style="background-image: url(static/blog/images/image_3.jpg);">
						<div class="overlay"></div>
						<div class="text text-center">
							<h3>Work 03</h3>
							<span>Fashion</span>
						</div>
					</a>
				</div>
				<div class="col-md-3">
					<a href="#" class="photography-entry img d-flex justify-content-center align-items-center"
						style="background-image: url(static/blog/images/image_4.jpg);">
						<div class="overlay"></div>
						<div class="text text-center">
							<h3>Work 04</h3>
							<span>Travel</span>
						</div>
					</a>
				</div>
				<div class="col-md-3">
					<a href="#" class="photography-entry img d-flex justify-content-center align-items-center"
						style="background-image: url(static/blog/images/image_5.jpg);">
						<div class="overlay"></div>
						<div class="text text-center">
							<h3>Work 05</h3>
							<span>Travel</span>
						</div>
					</a>
				</div>
				<div class="col-md-3">
					<a href="#" class="photography-entry img d-flex justify-content-center align-items-center"
						style="background-image: url(static/blog/images/image_6.jpg);">
						<div class="overlay"></div>
						<div class="text text-center">
							<h3>Work 06</h3>
							<span>Travel</span>
						</div>
					</a>
				</div>
				<div class="col-md-3">
					<a href="#" class="photography-entry img d-flex justify-content-center align-items-center"
						style="background-image: url(static/blog/images/image_7.jpg);">
						<div class="overlay"></div>
						<div class="text text-center">
							<h3>Work 07</h3>
							<span>Fashion, Model</span>
						</div>
					</a>
				</div>
				<div class="col-md-3">
					<a href="#" class="photography-entry img d-flex justify-content-center align-items-center"
						style="background-image: url(static/blog/images/image_8.jpg);">
						<div class="overlay"></div>
						<div class="text text-center">
							<h3>Work 08</h3>
							<span>Nature</span>
						</div>
					</a>
				</div>

			</div>
		</div>
	</section>




{% endblock %}