<!--"""last commit: 08012019 02:08 am"""" -->
{% extends "base.html" %}
{% load static %}
{% block body %}


<div class="limiter">
	<div class="container-login100">
		<div class="wrap-login100">
			<div class="login100-form">
				<p>Yelp status:<p>
					<p>Remaining calls :<span>{{ yelp.Remaining}}</span></p>
					<p>Restart time :<span>{{ yelp.ResetTime}}</span></p>
			</div>

			<div class="login100-form" style='padding: 20px !important; border-left: 1px solid green'>
				<div class='upbox' style="background-color: aquamarine">

				</div>
			</div>

		</div>



	</div>
</div>





<!--===============================================================================================-->


<script >
    $('.js-tilt').tilt({
        scale: 1.1
    })
</script>
<!--===============================================================================================-->



</div>
{% endblock %}