<!--"""last commit: 08012019 02:08 am""" -->
{% extends "base.html" %}
{% load static %}
{% block body %}

<div class="limiter">
		<div class="container-login100">
            <div class="wrap-login100" style='padding: 20px !important; margin-top: 100px;'>
                   <div style='height:30px;'></div>
                    <h1 style="margin: 0 auto;" id='stitle'>  Results for: </h1>
                    <h2>Total number <span>{{ total }}</span></h2>
                    <br>
                    <h2> City:<span>{{ city }}</span> </h2>
                    <h2> State:<span>{{ state }}</span> </h2>
                    <form class="login100-form validate-form"  method='post'>
                            <span class="login100-form-title">Deep Scrape</span>
                            {% csrf_token %}
                            <div class="container-login100-form-btn">
                                <button class="login100-form-btn" id='deepScrape' type="submit" value="Submit">SCRAPE</button>
                            </div>
                        </form>
                    
                            {% csrf_token %}
                    <table  class="table" style='margin-top: 30px;'>  
                        <thead class="thead-dark">
                            <tr>
                              <th scope="col">name</th>
                              <th scope="col">yelp</th>
                              <th scope="col">phone</th>
                              <th scope="col">rating</th>
                              <th scope="col">surl</th>
                              <th scope="col">address</th>
                              <th scope="col">city</th>
                              <th scope="col">state</th>
                              <th scope="col">claimed</th>
                            </tr>
                        </thead>   
                    <tbody>                    
                    {% for result in all_entries %}
                    <tr>
                       <td>{{ result.name }}</td>
                       <td><a href='{{ result.yurl}}'  target="_blank"><i class="fa fa-upload" aria-hidden="true"></i></a></td>
                       <td>{{ result.phone}}</td>
                       <td>{{ result.rating}}</td>
                       <td><a href='http://{{ result.surl}}'  target="_blank"><i class="fa fa-upload" aria-hidden="true"></i></a></td>
                       <td>{{ result.address}}</td>
                       <td>{{ result.is_claimed}}</td>
                    </tr>
                     {% endfor %}
                    </tbody>
                    </table>
    
                        <div class="text-center p-t-136">
                            <a class="txt2" href="#">
                                mladenmilosavljevic.tech
                                <i class="fa fa-long-arrow-right m-l-5" aria-hidden="true"></i>
                            </a>
                        </div>	

			
			</div>
		</div>
	</div>
	
	

	

	<script >
		$('.js-tilt').tilt({
			scale: 1.1
		})
	</script>
<!--===============================================================================================-->



</div>
{% endblock %}